* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  color: white;
  background: rgb(84, 63, 74);
  background: linear-gradient(45deg, rgba(84, 63, 74, 1) 0%, rgba(37, 37, 158, 1) 100%);
  height: 100vh;
}

i {
  font-size: 4rem;
}

h1,
p {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 25px auto;
  row-gap: 20px;
}

.rounds {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
}

.rounds h1 {
  margin-bottom: 10px;
}

.rounds .rounds-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}

.rounds .rounds-select:first-of-type {
  margin-top: 10px;
}

.rounds .rounds-select div {
  width: 100%;
}

.result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 30px;
}

.interium-result {
  font-weight: 800;
}

.player .flag,
.cpu .flag {
  font-size: 1.25rem;
  background-color: rgb(205, 52, 52);
  padding: 10px;
  text-align: center;
  animation: animate-flag 1s linear infinite;
}
.result .player .player-turn,
.result .cpu .cpu-turn {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.game-elements {
  text-align: center;
  margin-bottom: 5px;
}

.game-elements i {
  cursor: pointer;
  border: 2px solid white;
  padding: 20px;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.25s linear;
}

.game-elements i:hover {
  border: 2px solid green;
  transform: scale(1.1);
}

.restart {
  padding: 5px 15px;
  background-color: orange;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
}

.restart:hover {
  background-color: rgb(209, 166, 87);
}

.pointer {
  transform: rotate(-180deg);
  animation: animate-pointer 0.5s linear infinite;
  border: none !important;
}

@keyframes animate-flag {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes animate-pointer {
  0%,
  100% {
    transform: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(10px);
  }
}
